.bzr/
Archive/
Backup/
*.cydsn/codegentemp/
*.cydsn/CortexM3/
*.cydsn/Export/
*.cydsn/junk/
*.cydsn/**/__Previews/
*.cydsn/*_timing.html
*.cydsn/Generated_Source/
*.bak
*.rpt
*.cywrk.*
*.cyprj.*
*~
